<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="display-6 fw-bold">
        Payment Detail Register
    </h1>
</div>
<div class="row mt-5">
    <div class="col-6">
        <app-payment-detail-form (onCardRequest)="getCards()" (onReset)="resetSelectedItem()" [formData]="paymentDetailItem"></app-payment-detail-form>
    </div>
    <div class="col-6">
        <app-payment-detail-list (onSelectCard)="populateForm($event)" (onDeleteCard)="getCards()" [renderList]="cardsList" [selectedPaymentDetail]="paymentDetailItem"></app-payment-detail-list>
    </div>
</div>